<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>jax-ws</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jax-ws</servlet-name>
    <url-pattern>/DocumentSemanticVectorsService</url-pattern>
    <url-pattern>/QuerySemanticVectorsService</url-pattern>
    <url-pattern>/VectorComparisonService</url-pattern>
    <url-pattern>/ClientSupportService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConceptsSearchServlet</servlet-name>
    <servlet-class>seks.advanced.servlets.ConceptsSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConceptsTreeServlet</servlet-name>
    <servlet-class>seks.advanced.servlets.ConceptsTreeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetKeywordsServlet</servlet-name>
    <servlet-class>seks.advanced.servlets.GetKeywordsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KeywordsSearchServlet</servlet-name>
    <servlet-class>seks.advanced.servlets.KeywordsSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>seks.advanced.servlets.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConceptsSearchServlet</servlet-name>
    <url-pattern>/ConceptsSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConceptsTreeServlet</servlet-name>
    <url-pattern>/ConceptsTree</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetKeywordsServlet</servlet-name>
    <url-pattern>/GetKeywords</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KeywordsSearchServlet</servlet-name>
    <url-pattern>/KeywordsSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitDocumentIndexationServlet</servlet-name>
    <servlet-class>seks.advanced.servlets.InitDocumentIndexationServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>