<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>SEKS-Client</display-name>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>seks.client.servlets.UploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKeywordsServlet</servlet-name>
        <servlet-class>seks.client.servlets.GetKeywordsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeywordsSearchServlet</servlet-name>
        <servlet-class>seks.client.servlets.KeywordsSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConceptsTreeServlet</servlet-name>
        <servlet-class>seks.client.servlets.ConceptsTreeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConceptsTreeServlet</servlet-name>
        <url-pattern>/ConceptsTree</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConceptsSearchServlet</servlet-name>
        <servlet-class>seks.client.servlets.ConceptsSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConceptsSearchServlet</servlet-name>
        <url-pattern>/ConceptsSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKeywordsServlet</servlet-name>
        <url-pattern>/GetKeywords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeywordsSearchServlet</servlet-name>
        <url-pattern>/KeywordsSearch</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
